.accordion-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    width: 400px;
}

.accordion-tab {
    border-radius: 0;
    border: none;
}

.accordion-content {
    padding: 8px;
}

.hide {
    display: none;
}

.show {
    display: block;
}