.stepper-container {
    display: flex;
    flex-direction: column;
    height: 400px;
}

.steps-container,
.stepper-actions,
.step-item,
.step-index {
    display: flex;
    align-items: center;
}

.step-item {
    flex-direction: column;
    text-align: center;
}

.step-index {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    justify-content: center;
}


.step-line {
    height: 2px;
    margin-bottom: 1.5rem;
}

.steps-content {
    margin: 1rem 0;
}

.stepper-actions {
    gap: 1rem;
    justify-content: flex-end;
}