.toast {
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
}

.toast p {
    margin: 0;
}

.toast-info {
    background-color: #0071e3;
}

.toast-success {
    background-color: #00b906;
}

.toast-error {
    background-color: #e30000;
}

.toast-warning {
    background-color: #ffd900;
    color: #000000;
}

.toast-close-icon {
    border: none;
    outline: none;
    width: fit-content;
    background-color: transparent;
    margin: 0;
}