.main-container {
    background-color: white;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    overflow: auto;
}

.list-item {
    text-align: center;
    background-color:crimson;
    color: white;
    border-radius: 4px;
}

.list-item:not(:last-child) {
    margin-bottom: 4px;
}